@charset "UTF-8";

  



body{
    background-image: url(Design\ sem\ nome.png);
    background-size: cover;
    background-attachment: fixed;

    

   
    
   }
   h1{
    font-size: 50px;
    margin-top: 29px;
    margin-left: 54px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(164, 22, 22);
    text-shadow: 4px 4px 5px  rgb(0, 0, 0);
    
    width: 400px;
    padding-left: 5px;
    border-radius: 10px;
    
   }
   h2{
    font-size: 40px;
    text-shadow: 3px 1px 2px  black;
    
   }

   .titulo{
    margin: auto;
    margin-top: 30px;
   }
 


   .usuario>::placeholder{
     color: aliceblue;
     
     
  
     }
    .usuario>input{
      background-color: #ff0000;
      border: none;
      padding: 20px;
      border-radius: 10px;
      color: white;
    
      
    }

   .senha>::placeholder{
    color: aliceblue;
   }

   .senha>input{
    border: none;
    background-color: #ff0000;
    padding: 20px;
    border-radius: 10px;
    color: white;
   }


   #container{
    background-color: rgba(243, 238, 238, 0.496);
    position: relative;
    width:400px ; 
    height: 500px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    
    
   }
   #conteudo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; 
    color: #ff0000; 
    text-align: center; 
    
   }
 button{
  color: white;
  background-color: #ff0000;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 10px;
 
  
 }
 .chek>a{
  color: #ff0000;
  text-decoration: none;
 }
 .registre p >a{
  color: #ff0000;
  text-decoration: none;
 }
 .chek>a:hover{
  text-decoration: underline;
 }
 .registre p >a:hover{
  text-decoration: underline;
 }